Projects/On Boarding Clients Project.json
{
  "name": "On Boarding Clients Project",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Collecting Surveys",
        "formDescription": "Fill this form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Enter your full name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Enter your email",
              "requiredField": true
            },
            {
              "fieldLabel": "Industry",
              "placeholder": "Enter your industry",
              "requiredField": true
            },
            {
              "fieldLabel": "What you want to be in next 3 months",
              "placeholder": "Enter your goal",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -340,
        0
      ],
      "id": "31ed4a7a-db5e-4b27-92c6-aa17bf27e738",
      "name": "On form submission",
      "webhookId": "7b6afceb-7dd6-4191-b47a-8af7bfe9201e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Can you generate a warm and professional welcome email for a new client based on the information provided?\nThe message should be friendly, brief, and personalized—while still sounding professional.\n\nIt should reflect the client’s industry and their goals for our collaboration. Below is the client’s information:\n\nName: {{ $json['Full Name'] }}\nEmail: {{ $json.Email }}\nCompany Industry: {{ $json.Industry }}\nGoals for the Partnership: {{ $json['What you want to be in next 3 months'] }}\n\nMake sure to always end the email with the following sign-off:\nBest regards,\nSupport Team\nFounder\nWorkHour Media\n\nDo not use placeholders like [Your Name] or\n[Your Contact Information] under any circumstances, even if some information is missing.\nReturn the result in 3 separate fields:\nSubject: The email’s subject line\nBody: The main email content\nEmail: {{ $json.Email }}\n\n\n\nExample email format\nBody Section\nHello,\nContent\nBest regards",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -120,
        -140
      ],
      "id": "a51bb5fc-3c7e-4344-845d-22066e07f913",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        20
      ],
      "id": "41917279-40e0-4d25-8228-306c426e8b7a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cm0EQtPOPXF0PG9P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Parse this JSON and output the parameters separately:\n\nSubject\nBody\nEmail",
              "role": "system"
            },
            {
              "content": "={{ $json.output }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        180,
        -140
      ],
      "id": "9f1d44b8-56b6-4c39-a211-32211ace0c04",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "cm0EQtPOPXF0PG9P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.message.content.Email }}",
        "subject": "={{ $json.message.content.Subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.Body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        -140
      ],
      "id": "deef5859-d805-430e-bfad-617092e9af14",
      "name": "Send a message",
      "webhookId": "b832f6ed-d457-4387-9b0b-23ee9efe5691",
      "credentials": {
        "gmailOAuth2": {
          "id": "2r16VklIFSr5x4oE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use the client details below to generate a clear summary of their profile. Here is the information provided:\nName: {{ $json['Full Name'] }}\nCompany Industry: {{ $json.Industry }}\nGoals with Us: {{ $json['What you want to be in next 3 months'] }}\nReturn the following fields separately:\nName: {{ $json['Full Name'] }}\nEmail: {{ $json.Email }}\nSummary: A concise overview of the client based on the information provided above",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -120,
        140
      ],
      "id": "9f3da1ab-9e14-4cc8-8466-5195d4f4d8f9",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        300
      ],
      "id": "468df765-1e05-4399-82db-e3c0d3c57b77",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "cm0EQtPOPXF0PG9P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Parse this JSON into three fields\n\nName\nEmail\nSummary",
              "role": "system"
            },
            {
              "content": "={{ $json.output }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        180,
        140
      ],
      "id": "96486343-c3e9-4d0a-95fa-775ebc44efcd",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "cm0EQtPOPXF0PG9P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ijTyoASRJbQ781woE5TC6RZlyMTZwWhMjDjrBOws5f8",
          "mode": "list",
          "cachedResultName": "Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ijTyoASRJbQ781woE5TC6RZlyMTZwWhMjDjrBOws5f8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 457390649,
          "mode": "list",
          "cachedResultName": "On boarding clients project",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ijTyoASRJbQ781woE5TC6RZlyMTZwWhMjDjrBOws5f8/edit#gid=457390649"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.message.content.Name }}",
            "Email": "={{ $json.message.content.Email }}",
            "Summary": "={{ $json.message.content.Summary }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        480,
        140
      ],
      "id": "4f223c9d-8bcc-4251-b5ad-5a5e2b029e9a",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bJ0ztDpsrWdKx9V6",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7f9edae-5238-491a-80bb-50d82d67a175",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f37a4b669cdfe9172ee82e3e5a9ac801477d5a9fcff372b799579859468d424e"
  },
  "id": "HytHW4mu4X8Fl3Y3",
  "tags": []
}