Projects/Runway___Eleven_Labs_Video_Generator.json
{
  "name": "Runway___Eleven_Labs_Video_Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1184,
        320
      ],
      "id": "f7a587e2-ba02-4374-a3dd-baf61795c1f1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Task:\nYou are a highly skilled AI designed to transform a short theme, emotion,\nor story concept into a visually stunning, high-quality anime-style cinematic scene.\nThe final output should resemble a 3D, glossy anime movie shot — polished and emotionally immersive.\nUse deep lighting, rich textures, and strong atmospheric presence.\nThink of the visual tone seen in films like Your Name, Weathering With You, Suzume, or Belle.\nThe prompt must be versatile enough to work for both image and video generation platforms without needing modification.\nPrompt Format (Output Rules):\nGenerate one cinematic anime-style scene\nUse realistic lighting (e.g. glowing sunlight, city neon, reflections, fog)\nInclude textures like wet pavement, glowing skin, glass, metal, fabric, etc.\nAdd 3D depth (blurred backgrounds, layered clouds, subtle lens focus)\nEnsure strong mood and emotional storytelling\nKeep it under 950 characters\nDo not use JSON – clean text only\nUser Input Example:\nAnime story input:\n{{ $json.chatInput }}\nSample Outputs:\nInput: A group of kids laughing together at a fall festival\nPrompt:\nThe air buzzes with laughter as a group of kids race through fields of pumpkins and golden hay bales.\nTheir colorful scarves flutter in the autumn breeze, and one waves a bright paper lantern high above their head.\nGlossy apples shine in small hands as leaves swirl around their sneakers. Lanterns glow softly overhead,\ncasting warm light over the joyful chaos, while the fading sun paints everything in a dreamy golden haze.\nInput: Two travelers setting off on a sunrise road trip\nPrompt:\nAt the edge of a sleepy village, two travelers board a bright red car with backpacks and maps.\nThe morning sky blushes with soft pink and orange hues, and dew glistens on the road.\nOne checks the map with a grin, while the other throws their jacket into the trunk.\nTheir laughter fills the cool air, and the car’s polished surface reflects the golden sunlight as they drive into a misty horizon.\nInput: A violinist performing alone in a glowing city square\nPrompt:\nUnderneath a halo of streetlamps, a young violinist stands in a quiet plaza surrounded by glowing signs and falling snow.\nHer breath curls in the winter air as her bow dances across shimmering strings.\nRaindrops from earlier glisten on the pavement like glass, catching the warm glow of neon reflections.\nThe melody echoes softly as passersby pause, their shadows stretching long under the cinematic city lights.\nInput: A girl waiting for a train during a summer downpour\nPrompt:\nA girl stands under a glass shelter at a rural train station as summer rain pours in sheets around her.\nDroplets cling to her umbrella while soft thunder hums across the overcast sky.\nHer schoolbag rests at her feet, damp sneakers tapping nervously against the platform.\nIn the distance, headlights shimmer through the haze as the train approaches, its reflection warping in the rippling puddles below.\nInput: A boy finding an old camera in his attic\nPrompt:\nDust floats in golden beams of afternoon light as a boy opens an old wooden chest tucked under the attic window.\nHe pulls out a vintage camera wrapped in velvet, its metal gleaming softly in the haze.\nCobwebs sway in the corner as he clicks the shutter, and a faded photograph drifts from inside.\nA breeze stirs through the cracked window, carrying the scent of pine and memory.\nInput: A girl dancing alone on a rooftop at sunset\nPrompt:\nOn a quiet rooftop, a girl twirls barefoot across the warm tiles as the sun dips behind city towers.\nHer silhouette cuts against the coral sky, hair flowing in the breeze.\nBirds scatter into the air as she leaps, casting long shadows across the rooftop garden.\nThe soft hum of traffic below fades into a dreamlike rhythm as twilight wraps the scene in soft purple hues."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1024,
        320
      ],
      "id": "2300304f-337b-46a5-93bc-acfd0c05f54d",
      "name": "Generate Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.message.content }}"
            },
            {
              "name": "size",
              "value": "1024x1536"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        320
      ],
      "id": "d4a997df-a22a-4cdb-b323-755351e292be",
      "name": "Prompt to Image"
    },
    {
      "parameters": {
        "amount": 90
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -288,
        320
      ],
      "id": "a58763b4-7530-498a-a506-b65f340c7287",
      "name": "Wait",
      "webhookId": "067589d8-bdc8-4dab-8b34-d2e4bf7088e5"
    },
    {
      "parameters": {
        "url": "=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Runway-Version",
              "value": "2025-28-06"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        544
      ],
      "id": "5d3e5b76-4b94-4074-b4fd-6b2caa5b0b85",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dev.runwayml.com/v1/image_to_video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"promptImage\": {{ `\"data:image/png;base64,${$json.data[0].b64_json}\"` }},\n  \"model\": \"gen3a_turbo\",\n  \"promptText\": {{ JSON.stringify($('Generate Prompt').item.json.message.content) }},\n  \"duration\": 10,\n  \"ratio\": \"1280:768\",\n  \"watermark\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        128
      ],
      "id": "10904de6-084f-4c2d-8bb7-1c63afcfc1e6",
      "name": "Generate a Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/LcfcDJNUP1GQjkzn1xUU",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \n  \"text\": $(\"Generate Prompt\").item.json.message.content, \n  \"voice_settings\": { \n    \"stability\": 0.75, \n    \"similarity_boost\": 0.85 \n  } \n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        304
      ],
      "id": "ef2b9312-755e-424e-80fc-f8e8d3992220",
      "name": "Generate Audio"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        304
      ],
      "id": "ebb0b53e-1e27-44e9-ba48-9bd593679295",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ijTyoASRJbQ781woE5TC6RZlyMTZwWhMjDjrBOws5f8",
          "mode": "list",
          "cachedResultName": "Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ijTyoASRJbQ781woE5TC6RZlyMTZwWhMjDjrBOws5f8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 256484072,
          "mode": "list",
          "cachedResultName": "Sheet6",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ijTyoASRJbQ781woE5TC6RZlyMTZwWhMjDjrBOws5f8/edit#gid=256484072"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        464,
        304
      ],
      "id": "c66f428a-5819-48a8-be70-14986b17941a",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "content": "## Generate Prompt",
        "height": 360,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1248,
        176
      ],
      "id": "9db9e484-95b6-46f7-937e-b5031900f14d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Generate Image with GPT 4o Image Generator",
        "height": 360,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        176
      ],
      "id": "eb7dbbfa-feba-49b8-b3e6-2d8e38cf640c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Image to Video Using Runway API",
        "height": 680,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        16
      ],
      "id": "fd8d6eb3-32d9-4d8b-864f-32ad4a230a27",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Create using Eleven Labs & Get Audio",
        "height": 360,
        "width": 420,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        176
      ],
      "id": "b8e50d05-0e9d-4975-be4b-68a2950c2df8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Save Content",
        "height": 360,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        176
      ],
      "id": "6b296fc5-0e2a-446d-8c04-42f7936b428e",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Generate Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt": {
      "main": [
        [
          {
            "node": "Prompt to Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt to Image": {
      "main": [
        [
          {
            "node": "Generate a Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bf8a4062-4794-48d9-8778-9f6d8d0a724a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "658b925100935d30cc49fa630de56688bb507559b750302233ee2eb2bdcb2147"
  },
  "id": "qAZhJQXF3kU9INUo",
  "tags": []
}