Projects/T-Shirt Image generator.json
{
  "name": "T-Shirt Image generator",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-image-1\",\n  \"prompt\": \"{{ $json.escapedString }}\",\n  \"n\": 1,\n  \"size\": \"1024x1536\",\n  \"quality\": \"high\"\n}",
        "options": {}
      },
      "id": "8bd9f9e2-22af-4fd8-b309-d032863c2f77",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2500,
        620
      ],
      "typeVersion": 4.2,
      "credentials": {
        "openAiApi": {
          "id": "cm0EQtPOPXF0PG9P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "id": "f3ed426d-6d7e-4c28-85fe-08da74b39e75",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2700,
        620
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "=\nYou are a creative prompt generation assistant specialized in T-shirt artwork refinement.\n\nYour job is to analyze an existing T-shirt design user message above and create a new, upgraded version that preserves the original layout, overall structure, and message placement, but enhances its visual style, mood, and artistic quality.\n\n- Keep all key design elements and text in their original positions — do not remove or move important words or graphics.\n- Improve the typography by suggesting more expressive font styling (e.g., handwritten, retro, bold serif, clean sans-serif, brush script), and enhance the lettering arrangement to feel more dynamic, elegant, or visually balanced.\n- Enhance illustrative elements, texture, and background details to feel more artistic, emotional, or premium — without overwhelming the message.\n- Use descriptive, natural language to generate a final prompt that can be used with Midjourney, DALL·E, or other image-generation AIs.\n- The new version should feel like a refined and artistic redesign, not a complete concept change.\n- Solid black background\n\n** Rule **\n- Output the final design prompt as a single plain-text sentence, without markdown, formatting, or line breaks. Make sure the prompt is concise but expressive, suitable for use inside a JSON payload or passed into an image generation API. All key elements must remain: characters, objects, text styling, and background mood — but the format should be clean, compact, and system-friendly.\n- Format the output as a single line of plain text, using escaped double quotes (\\\") where needed, suitable for inclusion in a JSON string without formatting issues."
        }
      },
      "id": "e7b75727-77b6-47b2-bf33-5c382b5d39a1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1860,
        620
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "afd7b20e-869f-4a5c-9015-c68945128d08",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1780,
        840
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "cm0EQtPOPXF0PG9P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "42e9b641-0a37-46e8-9a34-61bd3a91191b",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1060,
        640
      ],
      "webhookId": "22b3dae3-95e5-4bfa-8187-9dca2dc72f85",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cb4e9a22-d429-4d11-b536-5d8760dd5042",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "https://"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff6163c7-c850-4b2b-bf32-dcd95283bdb0",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1420,
        640
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "const rawContent = $json.output;\n\n// 1. Replace all line breaks with spaces\nlet cleaned = rawContent.replace(/\\n/g, ' ');\n\n// 2. Trim any extra spaces at the beginning and end\ncleaned = cleaned.trim();\n\n// 3. Escape backslashes and double quotes for JSON safety\nlet escaped = cleaned.replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\n\n// 4. Remove leading or trailing escaped quotes if accidentally included\nescaped = escaped.replace(/^\\\\\\\"/, '').replace(/\\\\\\\"$/, '');\n\n// 5. Return the cleaned and fully escaped string\nreturn [\n  {\n    json: {\n      escapedString: escaped\n    }\n  }\n];\n"
      },
      "id": "48235ff8-2e8a-46e4-922b-773ac49b6643",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        2260,
        620
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Provide an image URL",
        "height": 320,
        "width": 400,
        "color": 4
      },
      "id": "272906b5-95a1-410d-bef1-310afd7a5bb0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        920,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Analyze image and generate a new prompt",
        "height": 580,
        "width": 540,
        "color": 6
      },
      "id": "cfcbf2bb-e507-4409-a9be-76d04cd69456",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1640,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create a new T-shirt Design",
        "height": 320,
        "width": 460,
        "color": 3
      },
      "id": "945b6e3e-68e2-4624-be35-749461b43e79",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2420,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Workflow Summary\n\nThis n8n workflow transforms a rough or outdated T-shirt mockup into a clean, print-ready design using OpenAI’s advanced vision and image generation models. It automates the process from image input to final artwork creation, making it ideal for creators and designers who want to streamline T-shirt design production.\n\n## What the Workflow Does\n- Accepts an image of a T-shirt mockup (uploaded via link)\n\n- Analyzes the design using OpenAI’s vision model (GPT-4)\n\n- Extracts core design elements: characters, layout, typography, and style\n\n- Converts the image into a refined, text-based prompt\n\n- Sends this prompt to OpenAI’s gpt-image-1 to generate a high-quality, print-ready graphic\n\n- Ensures the final image is suitable for printing on a solid black background, with no visible mockup elements\n\n## Step-by-Step Breakdown\n\n1. Image Input\nThe user submits a link to a T-shirt mockup image through a chat or input field.\n\n2. Image Analysis\nThe workflow uses OpenAI’s GPT-4 Vision to analyze the image, identifying key visual elements such as text, characters, composition, and style.\n\n3. Prompt Generation\nAn AI agent transforms these elements into a concise, structured prompt that:\n\nRetains the original message and layout\n\nEnhances visual quality\n\nRemoves collars, sleeves, and shadows\n\nLocks the design on a clean black background\n\n4. Prompt Formatting\nA JavaScript function escapes special characters to ensure prompt compatibility with downstream APIs.\n\n5. Artwork Generation\nThe prompt is sent to the gpt-image-1 API, which returns a fully reimagined T-shirt graphic ready for production.\n\n6. Optional Output\nThe final image can be sent to platforms like Telegram, Notion, or integrated into design review systems.\n\n## Important Note on Usage Costs\nThe image generation step relies on OpenAI’s gpt-image-1 model, a paid service. Each request may cost approximately $0.25, depending on settings. Be sure to review your OpenAI API usage plan and monitor expenses, especially if scaling or automating this workflow.\n\n## Monitor usage: OpenAI Pricing & Usage\n\n## Key Benefits\n- Turns mockup images into production-ready artwork\n\n- Removes all mockup elements to focus on design only\n\n- Optimized specifically for black-background T-shirt printing\n\n- Fully modular and easy to extend (e.g., auto-upload, approval flows)\n\n- No need for manual prompt writing or image editing\n\n## Quick Start\n- Import the .json file into your n8n instance\n\n- Add your OpenAI API credentials (Vision + Image)\n\n- Trigger the workflow with an image link\n\n- Receive a clean, AI-generated T-shirt design ready for print",
        "height": 1700,
        "width": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -220
      ],
      "id": "dc3b408e-cf9e-414f-bcc9-82f9c33c2cb5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Check if the message is a URL",
        "height": 320,
        "width": 280,
        "color": 5
      },
      "id": "ae0a1fba-6ea0-4c26-bdac-835b40a55397",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1340,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save Your Design",
        "height": 320,
        "width": 460
      },
      "id": "8fb407ab-eb85-425b-8528-56c1f37acbe5",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2900,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "test",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1rkjHWXr9eYevFBoXbD51LN07iCEmrDTv",
          "mode": "list",
          "cachedResultName": "N8N drive integration project",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rkjHWXr9eYevFBoXbD51LN07iCEmrDTv"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3080,
        620
      ],
      "id": "7a410421-6723-468c-9498-d1af6a6fa767",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i98IYNBbZSu4ATtK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "text": "=What's in the image",
        "imageUrls": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "id": "6ec1c286-bc16-4039-a427-d824d3db8c31",
      "name": "Analyze image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1680,
        620
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "cm0EQtPOPXF0PG9P",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e155bcf1-dd41-4c14-81dd-ce6113afd8e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f37a4b669cdfe9172ee82e3e5a9ac801477d5a9fcff372b799579859468d424e"
  },
  "id": "KxXFGO6sBLWkdGG6",
  "tags": []
}