Projects/Telegram_bot_to_chat.json
{
  "name": "Telegram bot to chat (Active)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -360,
        -20
      ],
      "id": "a660035d-4c46-429a-bde8-7c1b2c9dee38",
      "name": "Telegram Trigger",
      "webhookId": "fe7f3cba-3032-4819-97bb-6e960ad0c936",
      "credentials": {
        "telegramApi": {
          "id": "2QnomiSCIjDrATx0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -140,
        -20
      ],
      "id": "91d9b0ad-7b4b-4d64-966e-63874cef4109",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -180,
        200
      ],
      "id": "a9e57d8f-48fe-423b-8a77-1fdc19396029",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rWHckHCrQMFc4qsL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        220,
        -20
      ],
      "id": "c96be1da-33d2-4357-82c4-257810df6ca1",
      "name": "Telegram",
      "webhookId": "8a28cae6-f924-48dd-9cd5-5092ee4adfd5",
      "credentials": {
        "telegramApi": {
          "id": "2QnomiSCIjDrATx0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -20,
        200
      ],
      "id": "360f1976-888b-4ffc-a740-9828247fb865",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b5f4f852-d0b1-4b8c-ad0e-42dd2dd0665c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0601d5e9b5f8630a2dbc489917c0fbab560a65a4f9a184efa92c2856778f0a91"
  },
  "id": "mU2SD77SyoTGybhF",
  "tags": []
}