Projects/Form Submission to Telegram/Form_submission_to_Telegram.json
{
  "name": "Form submission to Telegram",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Contact",
        "formDescription": "Facing issues? Connect with us by submitting the form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Last Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Comment"
            },
            {
              "fieldLabel": "Course",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "N8N Course"
                  },
                  {
                    "option": "Python Course"
                  },
                  {
                    "option": "HC Course"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -760,
        -20
      ],
      "id": "5b7afd17-4618-42d6-920a-bbdaae46f6b0",
      "name": "On form submission",
      "webhookId": "46c21475-9476-4b76-8ae4-31108b725330"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ijTyoASRJbQ781woE5TC6RZlyMTZwWhMjDjrBOws5f8",
          "mode": "list",
          "cachedResultName": "Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ijTyoASRJbQ781woE5TC6RZlyMTZwWhMjDjrBOws5f8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 14373038,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ijTyoASRJbQ781woE5TC6RZlyMTZwWhMjDjrBOws5f8/edit#gid=14373038"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FirstName": "={{ $json['First Name'] }}",
            "Email": "={{ $json.Email }}",
            "LastName": "={{ $json['Last Name'] }}",
            "Comment": "={{ $json.Comment }}",
            "Course": "={{ $json.Course }}"
          },
          "matchingColumns": [
            "FirstName"
          ],
          "schema": [
            {
              "id": "FirstName",
              "displayName": "FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LastName",
              "displayName": "LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course",
              "displayName": "Course",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -500,
        -20
      ],
      "id": "019b4b71-e214-41c6-bae7-c510d64089fb",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mmNYsKnBu1ZMkqCI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Thankyou for submission",
        "emailType": "text",
        "message": "=Hey  {{ $json['First Name'] }},\n\nWe received you form. Thankyou for submitting. Team will reach out to you soon.\n\nBest Regards,\nSupport Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -280,
        -20
      ],
      "id": "4f53e47f-a7a5-4ebe-8125-ca5c9e7c2990",
      "name": "Gmail",
      "webhookId": "5f6d1fa7-e110-4564-ba3b-b7df36aa9a69",
      "credentials": {
        "gmailOAuth2": {
          "id": "W1sxtK8KsVUVxgOJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6094489555",
        "text": "=You received a Form Submission.\n\nName: {{ $('Google Sheets').item.json['First Name'] }}\nEmail: {{ $('Google Sheets').item.json.Email }}\nComment: {{ $('Google Sheets').item.json.Comment }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -60,
        -20
      ],
      "id": "466c9206-619f-4583-ad9d-70a0394e378e",
      "name": "Telegram",
      "webhookId": "c2181465-99a9-4ce8-a62c-c92f98049a88",
      "credentials": {
        "telegramApi": {
          "id": "2QnomiSCIjDrATx0",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f062ed30-9176-47e8-97c7-6eaff029244c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0601d5e9b5f8630a2dbc489917c0fbab560a65a4f9a184efa92c2856778f0a91"
  },
  "id": "tIUyJ3MEzdwzNyBn",
  "tags": []
}