Projects/Retell AI Receptionist (Bookings)/Retell AI Receptionist.json
{
  "name": "Retell AI Receptionist",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the following transcript of an interaction between a customer and a voice ai agent name Sophia from Crescent Family Dental. output the summary of the call in 500 characters and also extract the name, email, phone number and insurance provider, Date (in YYYY-MM-DD format), Time (in HH:MM AM/PM format), Entire Call transcript as separate JSON items.\n\n\nTranscript: {{ $json.body.call.transcript }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        -20
      ],
      "id": "eb039206-039b-4a62-9bb8-f96f7337e99b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -40,
        180
      ],
      "id": "05ad295d-b6af-426b-a05a-1650fc09a6c1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cm0EQtPOPXF0PG9P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\n  \"call_summary\": \"California\",\n  \"first_name\": \"California\",\n  \"last_name\": \"California\",\n  \"phone\": \"California\",\n  \"email\": \"California\",\n  \"insurance\": \"California\",\n  \"Date\": \"California\",\n  \"Time\": \"California\",\n  \"Call Transcript\": \"California\"\n  \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        200,
        180
      ],
      "id": "41a1407c-6a82-4956-9ab7-79705313a576",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Inbound",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        -20
      ],
      "id": "4ee7c7c6-12c0-47f6-8280-65b96495421e",
      "name": "Webhook",
      "webhookId": "13d18f19-1fab-405c-87f5-65b5e98aee5e"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Your Dental Appointment is Confirmed – Crescent Family Dental",
        "emailType": "text",
        "message": "=Hi {{ $json['First Name'] }},\n\nThank you for calling Crescent Family Dental.\n\nYour dental appointment has been successfully scheduled.\n\n🗓 Date: {{ $('AI Agent').item.json.output.Date }}\n⏰ Time: {{ $('AI Agent').item.json.output.Time }}\n📍 Location: 123 Harmony Lane, Cityscape, California 98765  \n📞 Contact: 551-359-0161  \n📧 Email: info@crescentfamilydental.com\n\nInsurance Provider: {{ $json.Insurance }}\n\nIf you have any questions or need to reschedule, feel free to contact us.\n\nWe look forward to seeing you!\n\nWarm regards,\nCrescent Family Dental Team\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        540,
        -220
      ],
      "id": "6be9d1b6-67b0-4a8e-8d24-bc23bd02d059",
      "name": "Message to Patient",
      "webhookId": "b578c562-52fc-4a70-a421-678c9f618411",
      "credentials": {
        "gmailOAuth2": {
          "id": "2r16VklIFSr5x4oE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "harshachakravarthy11@gmail.com",
        "subject": "Got a New Booking",
        "emailType": "text",
        "message": "=Hello,\n\nCongratulations we got a new booking\n\nFirst Name: {{ $json['First Name'] }}\nLast Name: {{ $json['Last Name'] }}\nEmail: {{ $json.Email }}\nPhone Number: {{ $json['Phone Number'] }}\nInsurance: {{ $json.Insurance }}\nSummary: {{ $json.Summary }}\n\nThanks & Regards\nSupport Team",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        540,
        -20
      ],
      "id": "2a7dc634-1ab2-4bcd-b2aa-a9ed13dcf1e3",
      "name": "Message to Owner",
      "webhookId": "db9e911a-f761-4b07-901d-27686cee5137",
      "credentials": {
        "gmailOAuth2": {
          "id": "2r16VklIFSr5x4oE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ijTyoASRJbQ781woE5TC6RZlyMTZwWhMjDjrBOws5f8",
          "mode": "list",
          "cachedResultName": "Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ijTyoASRJbQ781woE5TC6RZlyMTZwWhMjDjrBOws5f8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1874629847,
          "mode": "list",
          "cachedResultName": "Inbound Retell AI Call",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ijTyoASRJbQ781woE5TC6RZlyMTZwWhMjDjrBOws5f8/edit#gid=1874629847"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json.output.first_name }}",
            "Last Name": "={{ $json.output.last_name }}",
            "Phone Number": "={{ $json.output.phone }}",
            "Email": "={{ $json.output.email }}",
            "Insurance": "={{ $json.output.insurance }}",
            "Summary": "={{ $json.output.call_summary }}",
            "Date": "={{ $json.output.Date }}",
            "Time": "={{ $json.output.Time }}",
            "Entire Transcript": "={{ $json.output['Call Transcript'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insurance",
              "displayName": "Insurance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Entire Transcript",
              "displayName": "Entire Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        360,
        -20
      ],
      "id": "2a22ae90-52e2-46ee-bf48-4096e5b32ad3",
      "name": "Append row in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bJ0ztDpsrWdKx9V6",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message to Patient",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message to Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa62df15-7475-45de-bc2d-485066d9c3ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f37a4b669cdfe9172ee82e3e5a9ac801477d5a9fcff372b799579859468d424e"
  },
  "id": "7mP13tIUvNq6dwDi",
  "tags": []
}