Projects/LinkedIn Post Generator/LinkedIn_Post_Generator.json
{
  "name": "LinkedIn_Post_Generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "LinkedIn Post Generator",
        "formDescription": "Fill out all of the fields to get ready linkedIn post",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Enter your Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Post Topic",
              "placeholder": "Enter your post topic",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Audience",
              "placeholder": "Enter your Target Audience",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -2096,
        304
      ],
      "id": "a6cb7056-07ac-40c5-aa3c-f2d919a0f22d",
      "name": "On form submission",
      "webhookId": "3e142310-2c36-4ed3-beb9-b5d9744ea70e"
    },
    {
      "parameters": {
        "content": "## Content Ideas",
        "height": 320,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2176,
        192
      ],
      "id": "4e99cd88-a186-4136-a8e2-ac6ffc54e352",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1728,
        432
      ],
      "id": "b175685c-eaab-4695-89ab-c1dce10cbbeb",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "toolDescription": "What the user is searching for",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n \"query\": \"{searchTerm}\",\n \"topic\": \"general\",\n \"search_depth\": \"advanced\",\n \"chunks_per_source\": 3,\n \"max_results\": 1,\n \"time_range\": null,\n \"days\": 7,\n \"include_answer\": true,\n \"include_raw_content\": false,\n \"include_images\": false,\n \"include_image_descriptions\": false,\n \"include_domains\": [],\n \"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -1568,
        432
      ],
      "id": "61604375-7c3f-400c-8925-0a92e7bd0587",
      "name": "searchTerm"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Post Topic: {{ $json['Post Topic'] }}\nTarget Audience: {{ $json['Target Audience'] }}",
        "options": {
          "systemMessage": "=** Purpose **\nCreate LinkedIn posts that are professional, insightful, and engaging — tailored to any topic and audience.\n** How It Works **\nWhenever you receive a topic, follow this process:\n1. Research\n- Use the Tavily tool to perform a real-time search.\n- Gather the most recent, credible, and relevant insights.\n- Focus on facts, stats, case studies, and trends that add value.\n2. Write the Post\n- Start with a strong hook to grab attention.\n- Use a professional, confident tone.\n- Make it clear and easy to read — short paragraphs, strong flow.\n- Prioritize educational and actionable insights.\n- Use emojis only when they truly add value (keep it minimal).\n- Add proper attribution (e.g., “according to [source]”).\n- End with a call to action: invite thoughts, feedback, or shares.\n- Include relevant, topic-specific hashtags to increase reach.\n** Output Rules **\nOutput only the final LinkedIn post description.\nDon’t explain the post or mention the steps taken.\nDon’t include quotation marks or formatting outside of what’s natural in the post.\n** Sample Use Case **\nTopic: The ROI of warehouse automation\n- You research the latest stats, success stories, and market trends.\n- Then, you craft a polished LinkedIn post with a hook, key data, expert insight, and a strong CTA"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1728,
        224
      ],
      "id": "a022f378-9f5a-4d34-84e5-fd5c869a2585",
      "name": "LinkedIn Post Description Ai Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkedIn Post:\n{{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=** Purpose **\n- You are an AI agent designed to convert LinkedIn posts into visual prompt descriptions.\nThese prompts guide the creation of compelling marketing graphics that visually\nenhance the written message and align with professional branding standards.\n** Goals **\n- Analyze the content of the LinkedIn post\n- Identify the core message, insight, or idea\n- Craft a visual prompt that represents the message in a striking and brand-consistent way\n- Ensure the prompt is ideal for generating a professional marketing-style graphic, not a literal or hyperrealistic image\n** Visual Criteria **\nYour graphic prompt must:\n- Visually support or represent the key idea from the post\n- Be suitable for a modern LinkedIn post (clean, professional, polished)\n- Reflect a current design aesthetic (flat, minimalist, creative, sharp)\n** Output Requirements **\n- Output only the final image prompt — no explanation, rephrasing of the post, or surrounding text\n- Never include placeholders like \"Header goes here\"\n- Include numeric stats or figures if present in the original post\n- Do not include quotation marks around the prompt\n- Output should be ready to use in a text-to-image tool\n** Design Style & Elements **\nThink like a professional brand designer or marketing creative. Your visual prompts may include:\n- Flat illustrations\n- Bold or minimal typography elements (described in the prompt)\n- Infographic components (charts, graphs, percentages)\n- Modern abstract shapes or gradients\n- Metaphors (e.g., lightbulb for ideas, mountain for growth)\n- Layout suggestions (e.g., “split-screen layout,” “centered title with subtle overlay”)\nOptional: soft shadows, motion-like lines, UI-style elements\n** Prompt Format Example **\nModern flat-design illustration of a glowing lightbulb emerging from a maze, symbolizing innovation through complexity.\nClean background with soft gradient, top-right space for headline text, subtle data overlay on the left side."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1360,
        224
      ],
      "id": "31a66f61-1e73-49d6-81d7-450091f68eb8",
      "name": "Image Prompt AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1344,
        432
      ],
      "id": "0aaa73e9-982c-4839-aaf5-1118fe14eb60",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Description: {{ $('LinkedIn Post Description Ai Agent').item.json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "** Overview **\nYour job is to create a clear & highly engaging title for the linkdeIn post based on it's description."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1008,
        224
      ],
      "id": "ae11931a-8413-485b-9bba-02e62d71ee52",
      "name": "Generate Title AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1008,
        432
      ],
      "id": "74a7bf89-1837-4e74-9742-abf2a79f3355",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "content": "## Generate Image",
        "height": 320,
        "width": 460,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -224
      ],
      "id": "96a19112-52ec-4626-9387-31faf76ea923",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Publish",
        "height": 320,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        144
      ],
      "id": "fb26d6e0-5429-4afd-bac2-046700928bf3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Send a Conformation",
        "height": 320,
        "width": 460,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        512
      ],
      "id": "e44df87f-4fa3-4290-868e-cdbf26d56e16",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $('Image Prompt AI Agent').item.json.output }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -512,
        -112
      ],
      "id": "e5675c0b-dc29-4862-9c28-425c9f4f8991",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -304,
        -112
      ],
      "id": "fd440dd8-df5e-4868-a256-f8057035e2b4",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "={{ $('Generate Title AI Agent').item.json.output }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Wuhgbt0O0Hb2xlwgS3vnZm0PIfURuyFn",
          "mode": "list",
          "cachedResultName": "N8N LinkedIn post project",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Wuhgbt0O0Hb2xlwgS3vnZm0PIfURuyFn"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        256
      ],
      "id": "f82176ee-1484-4898-9caa-70c723c32de7",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Your LinkedIn Post is ready to publish",
        "emailType": "text",
        "message": "=Hello,\n\nYour linkedIn post is now ready to publish\n\nName: {{ $('Generate Title AI Agent').item.json.output }}\nDescription: {{ $('LinkedIn Post Description Ai Agent').item.json.output }}\nUrl: {{ $json.webViewLink }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -416,
        624
      ],
      "id": "e59c3f7c-b57c-4e1e-be60-4d524d54b0a1",
      "name": "Gmail",
      "webhookId": "346914aa-0e2e-405d-af75-0314a0c88bc8"
    },
    {
      "parameters": {
        "content": "## Create Content\n1. LinkedIn Post Description AI Agent\n2. Prompt for an image to generate with Open AI\n3. Title for LinkedIn post",
        "height": 480,
        "width": 1100,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1776,
        96
      ],
      "id": "d84e338a-80bf-4547-a8a5-80481244827b",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Email": "harshachakravarthy8899@gmail.com",
          "Post Topic": "AI & ML",
          "Target Audience": "People who are beginner to AI & ML",
          "submittedAt": "2025-06-27T20:33:01.527-04:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "LinkedIn Post Description Ai Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn Post Description Ai Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "searchTerm": {
      "ai_tool": [
        [
          {
            "node": "LinkedIn Post Description Ai Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post Description Ai Agent": {
      "main": [
        [
          {
            "node": "Image Prompt AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Image Prompt AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt AI Agent": {
      "main": [
        [
          {
            "node": "Generate Title AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Title AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Title AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "557c1750-80a7-4988-9ff9-f9a73a527b36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "658b925100935d30cc49fa630de56688bb507559b750302233ee2eb2bdcb2147"
  },
  "id": "qAZhJQXF3kU9INUo",
  "tags": []
}